<div class="contents row">
  <div class="more">
    <ul class="more_list">
      <li>
        <%= link_to '削除', book_path(@book.id), method: :delete %>
      </li>
    </ul>
    <p><%= @book.review %></p>
    <span class="name"><%= @book.title %>
    <%= render "layouts/radio"%>
  </div>
  <div class="container">
    <%= form_with(model: [@book, @comment], method: :post) do |f| %>
      <%= f.text_area :text, placeholder: "コメントする" %>
      <%= f.submit "SEND", id: "comment" %>
    <% end %>
  </div>
  <div class='likes'>
   <p>いいね件数: <%= @book.likes.count %></p>
    <% if current_user.already_liked? (@book) %>
      <%= button_to 'いいねを取り消す', book_like_path(@book), method: :delete %>
    <% else %>
      <%= button_to 'いいね', book_likes_path(@book) %>
    <% end %>
  </div>
  <div class="comments">
    <h4>＜コメント一覧＞</h4>
    <% @comments.each do |c| %>
      <p><%= c.text %></p>
      <%= link_to '削除', book_comment_path(@book, c), method: :delete %>
    <% end %>
  </div>

</div>